langchain==0.3.27
langchain-community==0.3.29
langchain-text-splitters==0.3.9
langchain-huggingface
langchain-chroma
langchain-ollama

chromadb==1.0.20

pypdf==6.0.0
sentence-transformers==5.1.0
streamlit==1.48.1
ollama==0.5.3

rank_bm25